<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>New businessmodel Micrio</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/admin.css" />
    
  </head>
  <body>
    <div id="app">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="https://b.micr.io/_statics/img/micrio-logo.svg" height="28">
          </a>
      
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/admin">
              Web Monetization
            </a>
      
            <a class="navbar-item" href="/statistics">
              Revenue statistics
            </a>
        </div>
      </nav>

      <div class="container">
        <h1 class="is-size-1 has-text-weight-semibold">Statistics</h1>

        <div>
          <h2 class="is-size-2">Revenue</h2>
          
          <table class="table notification is-info is-light">
            <thead>
              <tr>
                <th>Project</th>
                <th>Total revenue for Content Creator in €</th>
                <th>Total revenue for Micrio €</th>
              </tr>
            </thead>
            <tr v-for="project in projects" :key="project.id">
              <th>
                {{ project.id }}
              </th>
              <td class="td-static">
                {{ formatWithShare(project.data.total, true) }}
              </td>
              <td class="td-static">
                {{ formatWithShare(project.data.total, false) }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <script src="/statistics.js"></script>
  </body>
</html>