* {
  box-sizing: border-box;
}

body {
  background: #f8faff;
  color: #363636;
  min-height: 100vh;
  padding-bottom: 100px;
}

.navbar {
  background: #000;
  margin-bottom: 60px;
}

.navbar-item {
  color: #FFF;
}

h2 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.input {
  max-width: 400px !important;
}

td {
  text-align: right !important;
}
td span {
  position: absolute;
}

.td-static,
.static-text {
  color: #363636 !important;
}

.share-block {
  margin-top: 30px;
}

.share-block .input {
  max-width: 100px !important;
}

.share-block .field-label {
  min-width: 150px;
  text-align: left;
}

.is-link {
  margin-top: 20px;
}

.revenue-label {
  display: inline-block;
  min-width: 150px;
}

.github-link {
  text-align: center;
  display: block;
  margin-top: 50px;
}

.github-link span {
  position: relative;
  font-size: 0.8em;
  color: #333;
}

.github-link span:after {
  content: ' ';
  height: 1px;
  width: 0;
  background: #333;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.5s;
}

.github-link:hover span:after {
  width: 100%;
}

.github-link img {
  width: 24px;
  margin-left: 10px;
  vertical-align: bottom;
}
