/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html,
body {
  overflow: hidden;
  height: 100vh;
}

.monetization-pulse {
  background: white;
  margin: 20px;
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 rgba(1, 255, 112, 1);
  box-shadow: 0 0 0 0 rgba(1, 255, 112, 1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.monetization-pulse:hover {
  cursor: help;
}

.monetization-pulse.active {
  opacity: 1;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(1, 255, 112, 0.7);
    box-shadow: 0 0 0 0 rgba(1, 255, 112, 0.7);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 20px rgba(1, 255, 112, 0);
    box-shadow: 0 0 0 20px rgba(1, 255, 112, 0);
  }

  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(1, 255, 112, 0);
    box-shadow: 0 0 0 0 rgba(1, 255, 112, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(1, 255, 112, 0.7);
    box-shadow: 0 0 0 0 rgba(1, 255, 112, 0.7);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 20px rgba(1, 255, 112, 0);
    box-shadow: 0 0 0 20px rgba(1, 255, 112, 0);
  }

  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(1, 255, 112, 0);
    box-shadow: 0 0 0 0 rgba(1, 255, 112, 0);
  }
}
