<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>New businessmodel Micrio</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/admin.css" />
    
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h1 class="is-size-1 has-text-weight-semibold">Web Monetization calculator</h1>

        <div>
          <h2 class="is-size-2">Settings</h2>
          <div class="columns">
            <div class="column">
              <fieldset>
                <legend class="is-size-3">Price</legend>
                
                <div class="field">
                  <label for="maxPrice" class="label">Max. price per visitor</label>
                  <div class="field has-addons">
                    <p class="control">
                      <a class="button is-static">
                        €
                      </a>
                    </p>
                    <p class="control">
                      <input type="number" class="input" min="0" id="maxPrice" v-model.number="maxPricePerVisitor" step="0.0001" />
                    </p>
                  </div>
                </div>

                <div class="field">
                  <label for="timeWindow" class="label">Time window for getting price</label>
                  <div class="field has-addons">
                    <p class="control">
                      <input type="number" class="input" min="0" id="timeWindow" v-model.number="timeWindow" step="1" />
                    </p>
                    <p class="control">
                      <a class="button is-static">
                        seconds
                      </a>
                    </p>
                  </div>
                </div>
              </fieldset>

              <fieldset class="share-block">
                <legend class="is-size-3">Share</legend>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label for="micrioShare" class="label">Micrio</label>
                  </div>
                  <div class="field-body">
                    <div class="field has-addons">
                      <p class="control">
                        <input type="number" class="input" min="0" max="100" id="micrioShare" v-model.number="micrioShare" @change="setContentCreatorShare" />
                      </p>
                      <p class="control">
                        <a class="button is-static">
                          %
                        </a>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label for="contentCreatorShare" class="label">Content creator</label>
                  </div>
                  <div class="field-body">
                    <div class="field has-addons">
                      <p class="control">
                        <input type="number" class="input" min="0" max="100" id="contentCreatorShare" v-model.number="contentCreatorShare" @change="setMicrioShare" />
                      </p>
                      <p class="control">
                        <a class="button is-static">
                          %
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
                
                <button @click="save" class="button is-link">Save settings</button>
              </fieldset>
            </div>
            <div class="column">
              <div class="notification is-info is-light revenue">
                <p>
                  <strong class="static-text">Revenue share of Web Monetization per visitor</strong><br/>
                  <span class="static-text revenue-label">Micrio:</span> € {{ micrioShare/100 * maxPricePerVisitor }}<br/>
                  <span class="static-text revenue-label">Content creator:</span> € {{ contentCreatorShare/100 * maxPricePerVisitor}}
                </p>
              </div>
            </div>
          </div>
        </div>

        <aside>
          <h2 class="is-size-2">For content creators</h2>

          <div class="columns">
            <div class="column">
              <div class="field">
                <label for="expectedVisitorsAmount" class="label">Expected yearly</label>

                <div class="field has-addons">
                  <p class="control">
                    <input type="number" class="input" v-model.number="expectedVisitorsAmount" id="expectedVisitorsAmount" />
                  </p>
                  <p class="control">
                    <a class="button is-static">
                      visitors
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="column">
              <table class="table notification is-info is-light">
                <thead>
                  <tr>
                    <th>Plan</th>
                    <th>Price p/m</th>
                    <th>Max. visitors p/y</th>
                    <th>Min. visitors for break even</th>
                    <th>Max. profit p/m</th>
                  </tr>
                </thead>
                <tr v-for="subscription in subscriptions" :key="subscription.name">
                  <th>
                    {{ subscription.name }}
                  </th>
                  <td class="td-static">
                    {{ formatInEuros(subscription.pricePerMonth) }}
                  </td>
                  <td class="td-static">
                    {{ subscription.maxVisitors.toLocaleString('nl-NL') }}
                  </td>
                  <td>
                    {{ getMinVisitorsForBreakEven(subscription) }}
                  </td>
                  <td>
                    {{ getMaxProfit(subscription) }} <span v-if="expectedVisitorsAmount > subscription.maxVisitors">*</span>
                  </td>
                </tr>
              </table>

              <p>
                * Excluding extra bandwidth costs
              </p>
            </div>
          </div>
        </aside>

        <aside>
          <h2 class="is-size-2">For Micrio</h2>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label for="expectedTotalVisitorsAmount" class="label">Expected yearly</label>
                <div class="field has-addons">
                  <p class="control">
                    <input type="number" class="input" v-model.number="expectedTotalVisitorsAmount" id="expectedTotalVisitorsAmount" />
                  </p>
                  <p class="control">
                    <a class="button is-static">
                      visitors
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="notification is-info is-light">
                <p>
                  <strong class="static-text">Revenue of Web Monetization</strong><br />
                  <span class="static-text">Max. revenue p/m:</span> {{ maxProfitMicrio }}
                </p>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>

    <script src="/admin.js"></script>
  </body>
</html>